<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    
    <title>Template</title>
    
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="//www.fuelcdn.com/fuelux/3.0.2/css/fuelux.min.css">

    <!-- Custom styles -->
    <link href="../../../assets/css/style-main.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <!-- Navigation -->
    <div class="navbar nav-bar-unt navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-5">
            <a href="#"><img class="navbar-brand" src="../../../assets/img/UNTVote-logo.png" alt="UNTVote"></a>
          </div>
          <div class="col-xs-7 text-right">
            <label class="profile-name">Username</label>
            <div class="btn-group">
              <img src="../../../assets/img/user-default.png" class="img-circle dropdown-toggle profile-pic" type="button" data-toggle="dropdown">
              <ul class="dropdown-menu dropdown-menu-open-left " role="menu">
                <li><a href="#">Porfile</a></li>
                <li class="divider"></li>
                <li><a href="#">Logout</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <!-- Sidebar -->
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar panel-group" id="menuAccordion">
            <li class="panel"><a href="#"><span class="glyphicon glyphicon-dashboard"></span>&nbsp;&nbsp;Dashboard</a></li>
            <li class="panel">
              <a data-toggle="collapse" data-parent="#menuAccordion" href="#collapseElections"><span class="glyphicon glyphicon-send"></span>&nbsp;&nbsp;Elections</a>
              <div id="collapseElections" class="panel-collapse collapse">
                <ul class="nav-sidebar-sub-menu">
                  <li><a href="#">Broswe</a></li>
                  <li><a href="#">Results</a></li>
                </ul>
              </div>
            
            </li>
            <li class="panel">
              <a href="#"><span class="glyphicon glyphicon-briefcase"></span>&nbsp;&nbsp;Candidates</a></li>
              
                </div>
            </li>
          </ul>
    

        
        <!-- Main body content -->
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Elections</h1>
            
            <!-- Overview Panel -->
            <div class="panel panel-info">
                <div class="panel-heading">Overview</div>
              <div class="panel-body">
                  <div class="row">
                        <div class="col-xs-6 col-md-4">
                        <h4><span class = "info-circle info-circle-red">6</span> Going on elections</h4>
                        </div>
                        <div class="col-xs-6 col-md-4">
                        <h4><span class = "info-circle info-circle-blue">200</span> Voters </h4>
                        </div>
                        <div class="col-xs-6 col-md-4">
                        <h4><span class = "info-circle info-circle-purple">2</span> Info</h4>
                        </div>
                    </div>
              </div>
            </div>   
            
            <!-- Overview Panel -->
            <div class="panel panel-primary">
                <div class="panel-heading">Item</div>
              <div class="panel-body">
                  <h4>Panel content</h4>
                  <h4>Panel content</h4>
                  
            
              </div>
            </div>   
            
            <!-- Overview Panel -->
            <div class="panel panel-success">
                <div class="panel-heading">Item</div>
              <div class="panel-body">
                  
                  <h4>Panel content</h4>
                  <h4>Panel content</h4>
                
              </div>
            </div>   
            
        </div>
        
    </div>
 
            
        </div>
      </div>
    </div>

    <!-- Footer area -->
    <div class="footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-6">
            <p class="footer-text">&copy; 2014 UNT Vote</p>
          </div>
          <div class="col-xs-6 text-right">
            <a href="#" class="footer-text">Contact</a>
            &nbsp;
            <a href="#" class="footer-text">Help</a>
          </div>
        </div>
      </div>
    </div>
    
    <!-- All scripts go below this area -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://www.fuelcdn.com/fuelux/3.0.2/js/fuelux.min.js"></script>
  </body>
</html>
