<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    
    <title>Terms of Service | UNTVote</title>
    
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <!-- Custom styles -->
    <link href="../assets/css/style-main.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <!-- Navigation -->
    <div class="navbar nav-bar-unt navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-5">
            <a href="#"><img class="navbar-brand" src="../assets/img/UNTVote-logo.png" alt="UNTVote"></a>
          </div>
          <div class="col-xs-7 text-right">
            <label class="profile-name">Username</label>
            <div class="btn-group">
              <img src="../assets/img/user-default.png" class="img-circle dropdown-toggle profile-pic" type="button" data-toggle="dropdown">
              <ul class="dropdown-menu dropdown-menu-open-left " role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <br>
        
        <!-- Main body content -->
        <div class="col-xs-11 col-sm-10 col-md-8 col-lg-6 panel panel-default block-center">
          <div class="panel-body">
            <h1>Terms of Service</h1>
            <hr>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sed consectetur eros. In hac habitasse platea dictumst. Ut id tincidunt velit, quis euismod nulla. In vitae nunc id eros eleifend scelerisque eget id nisl. Praesent arcu lacus, commodo non orci ut, consequat tristique nibh. Curabitur eget ex dignissim, faucibus sapien nec, commodo lectus. Integer porta congue ex in vulputate. Integer neque metus, pulvinar eget lacus elementum, auctor placerat dui. Proin lobortis rhoncus neque sit amet facilisis. Suspendisse efficitur lectus massa, sit amet pulvinar massa varius sit amet. Suspendisse urna velit, lacinia nec pulvinar vitae, cursus ut risus. Nullam ultricies ipsum velit, ut venenatis risus accumsan vitae.</p>
            
            <h3>Vestibulum varius</h3>
            
            <p>Donec quis eros quam. Sed laoreet fringilla ipsum vitae laoreet. Aliquam mollis ipsum non mi aliquam, id hendrerit lectus dignissim. Cras euismod, enim sed egestas commodo, quam tortor mattis urna, vel dictum arcu est vel diam. Cras lacinia quam vitae nisl rhoncus, auctor consequat magna congue. Proin mauris elit, pharetra eget nisl vitae, cursus condimentum orci. Ut lobortis quis turpis vitae malesuada. Sed feugiat mattis faucibus.<br><br>

Nunc suscipit dolor faucibus, gravida enim quis, convallis nulla. Suspendisse vel pharetra odio. Etiam ullamcorper mollis enim, et ultrices metus vulputate non. Duis consectetur consequat neque, sed fermentum metus vulputate id. Ut at ante vulputate, semper arcu a, pretium lectus. Maecenas tincidunt ante velit, quis fringilla felis blandit sed. Sed vitae finibus massa. Maecenas eget ligula at urna gravida ullamcorper. Duis ultricies magna vitae eleifend maximus. Integer ac felis nec orci gravida hendrerit. Pellentesque finibus ligula nunc, sed tincidunt est imperdiet eget. Nulla hendrerit neque erat, et laoreet sapien porttitor sit amet. Sed ultrices est ac feugiat egestas. Cras rutrum iaculis massa, id aliquet arcu malesuada non. Quisque pharetra fermentum arcu, id dignissim ante ultricies sit amet. Nulla lacinia, diam ut dapibus suscipit, massa sapien dignissim ligula, sed pulvinar arcu mi in nisi.</p>
            
            <h3>Sed feugiat mattis faucibus</h3>
            
            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean tincidunt quam quis pretium pretium. Morbi vitae porta sem. Cras sed euismod nulla. Phasellus aliquam semper lacus. Nunc eu sapien nec diam vestibulum ultrices non ac purus. Donec ligula nibh, dictum vitae eros nec, euismod iaculis magna. Etiam massa erat, viverra et sem ac, fermentum egestas mauris. Donec volutpat volutpat vulputate. Morbi euismod arcu vitae risus dictum hendrerit. Duis sit amet mauris vitae nisl fermentum vestibulum vitae vitae felis. Ut vel diam facilisis, tempor tellus eget, viverra justo.</p>
          </div>
        </div> 
        <br>
        <div class="col-xs-12 text-center">
          <button class="btn btn-default">Return to UNTVote</button>
        </div>
        
        <br><br><br>
      </div>
    </div>

    <!-- Footer area -->
    <div class="footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-6">
            <p class="footer-text">&copy; 2014 UNT Vote</p>
          </div>
          <div class="col-xs-6 text-right">
            <a href="#" class="footer-text">Contact</a>
            &nbsp;
            <a href="#" class="footer-text">Help</a>
          </div>
        </div>
      </div>
    </div>
    
    <!-- All scripts go below this area -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>
